.card-list {
  margin: 80px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 32px 30px;
  justify-content: center;
}

@media screen and (max-width: 1180px) {
  .card-list {
    grid-template-columns: repeat(2, minmax(360px, 1fr));
    gap: 35px 8px;
  }
}

@media screen and (max-width: 740px) {
  .card-list {
    margin: 49px 0 0 0;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    row-gap: 16px;
  }
}